* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: rgba(124, 124, 124, 0.452) solid 1px;
    margin-bottom: 200px;
}
h1 {
    margin-left: 30px;
    margin-right: 10px;
}
.rocket {
    font-size: 80px;
    color: #5c48d3;
    margin: 40px;
}

button {
    width: 80px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-right: 10px;
    font-family: sans-serif;
    color: black;
}
.container {
    max-width: 1024px;
    margin: 0 auto;

    /* border: solid black 2px; */
}

.activate {
    background-color: #5c48d3;
}
.bloc-buttons {
    /* border: solid green 2px; */
    width: 300px;
}
.bloc-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px;
}
.button-go {
    background-color: green;
}

.button-noway {
    background-color: red;
}
.button-reset:hover {
    background-color: rgb(110, 31, 184);
    transition-timing-function: ease-in;
    transition: 0.4s;
    color: white;
}
